cffi==1.15.0
colorama==0.4.4
commonmark==0.9.1
cryptography==36.0.1
distlib==0.3.4
filelock==3.4.2
gunicorn==20.1.0
importlib-metadata==4.10.1
loguru==0.6.0
platformdirs==2.4.1
pycparser==2.21
Pygments==2.11.2
pyOpenSSL==22.0.0
python-dotenv==0.19.2
PyYAML==6.0
rich==11.1.0
six==1.16.0
typing_extensions==4.0.1
virtualenv==20.13.0
win32-setctime==1.1.0
zipp==3.7.0
